Package: zyphor-whats-new
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Depends: libgtk-4-1
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS What's New
 A lightweight release notes viewer for Zyphor OS that shows system updates
 and changes in a simple desktop window after upgrades.
 